.header
  .complete-header-logo
    = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg', :size =>'200x300'
  .progress-bar  
    .progress-text-gray
      会員情報&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;電話番号認証 &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;お届け先住所入力&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;支払い方法
    .progress-text-red
      &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;完了
    
    .line-red
      .line-red__circle
    .line-red-second
      .line-red-second__circle
    .line-red-second
      .line-red-second__circle
    
    
    .last-line-red-complete
      .last-line-red-complete__circle
    .only-circle  
      .right-circle-complete

      
.middle-box-complete
  .middle-contents-complete
    .middle-contents-header
      会員登録完了
    .middle-contents-bottom
      %p &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;ありがとうございます。
      &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;会員登録が完了しました。
      =link_to root_path do      
        .middle-contents-bottom__start
          メルカリをはじめる
.download
  .download-contents      
   

.footer
  .footer-contents
    .footer-contents__text
      =link_to "https://www.facebook.com/" do 
        プライバシーポリシー&ensp;  
      =link_to "https://www.facebook.com/" do   
        メルカリ利用規約&ensp; 
      =link_to "https://www.facebook.com/" do  
        特定商取引に関する表記
    .footer-logo
      = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/common/jp/logo_vertical.png?2561606804', :size =>'200x100'
    .footer-date  
      © 2019 Mercari    
                
