%section.visible-sp
  .item-btn-client
    購入画面に進む
  .item-detail-message
    .message-container
      はじめまして！
    .item-other-btn
      .link_btn_left
        %button.item-other-btn-left
          %i.icon-like-border
          いいね！
          = rand(30) + 1
      .link_btn_right
        %i.fa.fa-lock
        = link_to 'あんしん・あんぜんへの取り組み', root_path, class: 'link_btn_right'
-# .sns
-#   %ul.sns--icon
-#     %i.fa.fa-facebook-square
-#     %i.fa.fa-twitter-square
-#     %i.fa.fa-pinterest
.item-others
  %section.item-others--seller
    %h2.item-others--seller_name 出品者のその他の商品
    = render 'items/content'