.contents__body__wrapper__list
  - @item_all.each do |item|
    = link_to item_path(item) do
      .content
        .content__image
          - if item.images.count > 0
            = image_tag item.images.first.variant(resize: "188x188").processed
        .content__description
          = item.name
          #{@item.price}円