.header
  .header__top
    %h1.header__top__logo
    .search
    / ここにsearchアイコン
  .header-bottom
    %ul.header-bottom__filter
      %li.header-bottom__filter__category
        .header-bottom__filter__category__icon
          / ここにlistアイコン
        %span カテゴリーから探す
      %li.header-bottom__filter__brand
        .header-bottom__filter__barand__icon
          / ここにbrandアイコン
          %span ブランドから探す

    %ul.header-bottom__menu
      %li.header-bottom__menu__good
        .header-bottom__menu__good__icon
          / ここにいいねアイコン
        %span いいね！一覧
      %li.header-bottom__menu__info
        .header-bottom__menu__info__icon
          / ここにお知らせアイコン
          %span お知らせ
      %li.header-bottom__menu__todo
        .header-bottom__menu__todo__icon
          / ここにtodoアイコン 
          %span やることリスト
      %li.header-bottom__menu__mypage
        .header-bottom__menu__mypage__icon
          / ここにマイページアイコン
          %span マイページ