.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

li {
  text-align: -webkit-match-parent;
}
.single-container {
  max-width: 1440px;
  height: 100%;
  background-color:#F5F5F5;
}
.single-header {
  height: 128px;
  text-align: center;
  h1 {
    height: 49px;
    width: 193px;
    display: inline-block;
    padding-top: 40px;
    margin:0 auto;
    line-height: 49px;
    a {
      width: 185px;
      height: 49px;
      margin: 0 8px 0 0;
      img{
        width:185px;
        height: 49px;
      }
    }
  }
}

.single-main {
  height: 2016px;
  .l-single-container.buy-item-container{
    margin:0 370px;
    background-color: white;
    width: 700px;
    .l-single-head{
      width:668px;
      height:33px;
      padding:32px 16px;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
    }
  }
}
.sell-upload-box{
  padding: 40px;
  height: 223px;
  width: 540px;
  border-top: 1px solid #eee;
  h3.sell-upload-head{
    font-size: 16px;
    height: 16px;
    font-weight: bold;
    span{
      padding: 2px 4px;
      margin-left: 8px;
      border-radius: 2px;
      background-color: #ea352d;
    }
  }
  p {
    margin-top: 8px;
    font-size: 13px;
  }
}
.sell-dropbox-container{
  height: 162px;
  width: 620px;
  margin: 16px -80px 0 0;
  background-color: #F5F5F5;
  .sell-upload-drop-box{
    height:80px;
    width: 538px;
    padding: 40px;
    text-align: center;
  }
}
.sell-upload-drop-box {
  position: relative;
  background: #f5f5f5;
  border: 1px dashed #ccc;
  font-size: 0;
  text-align: center;
  -webkit-transition: -webkit-box-shadow ease-out .3s;
  transition: -webkit-box-shadow ease-out .3s;
  transition: box-shadow ease-out .3s;
  transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
  cursor: pointer;
  float: right;
  margin-left: 2%;
}
.sell-upload-drop-box pre {
  position: absolute;
  top: 50%;
  left: 16px;
  right: 16px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  pointer-events: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.sell-content{
  width: 620px;
  padding: 40px;
  border-top: 1px solid #eee;
  .form-group{
    label{
      font-weight: 600;
      display: inline-block;
      font-size: 13px;
    }
    div{
      width: 620px;
      height: 56px;
      input{
        width: 586px;
        height: 28px;
        padding:10px 16px 8px 16px;
        margin-top: 8px;
      }
    }
    textarea{
      display: block;
      width: 598px;
      height: 120px;
      padding: 10px;
      border: 1px solid #ccc;
      background-color: #fff;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}
.form-group:first-child{
  margin: 0;
}
.form-group{
  margin:40px 0 0;
}
span.form-require{
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: #ea352d;
  color: white;
  font-size: 12px;
  vertical-align: top;
}

h3.sell-sub-head {
  color: #888;
  font-size: 15px;
  float: left;
  height: 14px;
}

.sell-form-box{
  float: right;
  margin: 0;
  height:auto;
  width: 400px;
  div{
    width: 400px;
    height: 48px;
    .select-wrap{
      position: relative;
      background: #fff;
      width: 400px;
      height: 48px;
      select.select-default{
        height: 46px;
        width: 400px;
        padding-right:16px;
        padding-left: 16px;
        background: #fff;
      }
    }
  }
}
.form-question {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}


ul.sell-price{
  height: 218px;
  li.form-group:first-child{
    padding: 0 0 24px;
    border:0;
    div{
      width:400px;
      line-height: 48px;
      label{
        display: block;
      }
      .l-left{
        float: left;
        width: 50%;
        line-height: 48px;
      }
      .l-right{
        float:right;
        width: 50%;
      }
      .sell-price-input{
        div{
          display: inline-block;
          margin: 0 0 0 5%;
          width:48px;
          input.input-default{
            width: 126px;
            height: 28px;
            padding: 10px 16px 8px 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
        }
      }
    }
  }
  li{
    width: 400px;
    padding: 24px 0;
    border-top: 1px solid #ccc;
    .l-left{
      float: left;
      font-size: 14px;
      float: left;
      height: 14px;
      width:50%;
    }
    .l-right{
      float: right;
      width:1%;
      height:14px;
    }
  }
}
.bold{
  font-weight: bold;
}
.sell-btn-box{
  height: 248px;
  width: 620px;
  .btn-gray{
    width: 45%;
    margin: 24px auto 0;
  }
  div{
    height: 84px;
    font-size: 14px;
  }
  button{
    width: 618px;
    height: 48px;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    margin:40px 0 0;
  }
  .btn-gray {
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
  }
  .btn-default {
    display: block;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
  }
}

.single-footer {
  width: 456px;
  height: 220px;
  margin: 0 auto;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 250px;
  padding: 40px 0;
  text-align: center;
  nav {
    height:12px;
    ul{
      li{
        float: left;
        a{
          font-size: 12px;
          margin-left: 16px;
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  .single-footer-logo{
    height: 65px;
    width:80px;
    margin: 40px auto 0;
  }
  p{
    margin: 8px 0 0 ;
    small{
      width:81px;
      height:13px;
      font-size: 13px;
      margin:auto 0 ;
    }
  }
}






