// .wrapper3 {
//   background-color:rgb(245, 245, 245);
//   .item-container1 {
//     margin: 40px auto 0;
//     padding: 24px 40px 40px;
//     background: white;
//     width: 700px;
//     box-sizing: border-box;
//     text-align: center;
//     .item-container1__item-name {
//       font-size: 24px;
//       word-wrap: break-word;
//       line-height: 1.4;
//       font-weight: bold;
//     }
//     .item-container1__item-content {
//       // @include clearfix;
//       margin: 16px 0 0;
//       .content--photo {
//         float: left;
//         width: 300px;
//         min-height: 380px;
//         overflow: hidden;  /* ここに書くことで隠れる */
//         margin: 0 auto;
//         background: gray;

//         .content--photo-up {
//           // @include clearfix;
//           background: rgb(245, 245, 245);
//           height: 300px;
//           width: 3000px;
//           border-collapse: collapse;
//           position: relative;
//           .photo-up-piece {
//             height: 300px;
//             width:300px;
//             float:left;
//           }
//         }
//         .content--photo-down {
//           // @include clearfix;
//           height: 120px;
//           border-collapse: collapse;
//           overflow: hidden;
//           .content-photo-down__piece {
//             height: 60px;
//             width: 60px;
//             float: left;
//             border-collapse: collapse;
//             cursor: pointer;
//           }
//           .content--photo-down__piece.activ {
//             filter:alpha(opacity=100)!important;
//             -moz-opacity: 1!important;
//             opacity: 1!important;
//           }
//         }
//       }
//       .content--detail-table {
//         float: right;
//         width: 300px; //100% before
//         height: 420px; //420px before
//         border-collapse: collapse;
//         border: 1px solid ;
//         .table {
//           .table--section {
//             .table--section-left {
//               width: 39%;
//               padding: 8px;
//               font-weight: 400;
//               background: rgb(245, 245, 245);
//               border: 1px solid rgb(245, 245, 245);
//             }
//             .table--section-right {
//               width: 61%;
//               padding: 8px;
//               text-align: left;
//               flex-wrap: 400;
//               background: white;
//               border: 1px solid rgb(245, 245, 245);
//               border-collapse: collapse;
//             }
//           }
//         }
//       }
//     }
//     .item-container1__item-price {
//       margin: 24px 0 0;
//       display: block;
//       font-size: 36px;
//       font-stretch: 100%;
//       font-weight: 400;
//       line-height: 14px;
//       text-align: center;
//       text-size-adjust: 100%;
//       .item-container1__item-price-bold {
//         margin: 0 16px 0 0;
//         font-weight: 600;
//       }
//       .item-container1__item-price-tax {
//         font-size: 10px;
//       }
//       .item-container1__item-price-shipping-fee {
//         font-size: 16px;
//         display: inline-block;
//       }
//     }
//     .item-container1__item-buy-btn {
//       margin: 16px 0 24px;
//       height: 60px;
//       line-height: 60px;
//       font-size: 24px;
//       display: block;
//       background: red;
//       color: white;
//       text-align: center;
//       font-weight: 600;
//       font-size: 24px;
//       &:hover {
//         cursor: pointer;
//       }
//     }
//     .item-container1__item-buy-btn__sold{
//       margin: 16px 0 24px;
//       height: 60px;
//       line-height: 60px;
//       font-size: 24px;
//       display: block;
//       background:gray;
//       color: white;
//       text-align: center;
//       font-weight: 600;
//       font-size: 24px;
//     }
//     .item-container1__item-description {
//       padding: 32px 0 0;
//       line-height: 1.5;
//       font-size: 18px;
//       .item-description-inner {
//         text-align: left;
//       }
//     }
//     .item-container1__item-other-btn {
//       // @include clearfix;
//       margin: 16px 0 0;
//       .link_btn_left {
//         float: left;
//         margin: 8px 0 0;
//         .item-other-btn-left {
//           color: blue;
//           border-radius: 10px;
//           background: rgb(245, 245, 245);
//           &:hover {
//             cursor: pointer;
//           }
//         }
//       }
//       .link_btn_right {
//         float: right;
//         margin: 8px 0 0;    /* ここでの text-decoration: none; 効かず。 */
//         .item-other-btn-right {
//           margin: 1px 0 0 8px;
//           display: inline;
//           color: blue;
//         }
//       }
//     }
//   }

//   .item-comment-area {
//     width: 700px;
//     margin: 8px auto;
//     text-align: center;
//     background: white;
//   }

//   .item-nav {
//     // @include clearfix;
//     margin: 24px auto 0;
//     width: 700px;
//     text-decoration: none;
//     .item-nav__link-prev {
//       width: 45%;
//       float: left;
//       position: relative;
//       color: blue;
//       &:hover {
//         cursor: pointer;
//         text-decoration: underline;
//       }
//     }
//     .item-nav__link-next {
//       width: 45%;
//       float: right;
//       position: relative;
//       text-align: right;
//       color: blue;
//       &:hover {
//         cursor: pointer;
//         text-decoration: underline;
//       }
//     }
//   }

//   .sns {
//     margin: 24px auto;
//     padding: 60px 0 24px;
//     width: 700px;
//     background: white;
//     text-align: center;
//     .sns--aikon {
//       font-size: 3em;
//     }
//   }

//   .item-others {
//     margin: 0 auto;
//     width: 700px;
//     .item-others--seller {
//       overflow: hidden;
//       .item-others--seller_name {
//         font-size: 22px;
//         line-height: 1.4;
//         font-weight: bold;
//         color: blue;
//         margin: 24px 0 8px;
//         &:hover {
//           cursor: pointer;
//           text-decoration: underline;
//         }
//       }
//       .item-others--seller_product{
//         //display: inline-block;  効果なしであることを記録するため記す
//         width: 700px;
//         padding: 0;
//         .item-others--seller_product_box {
//           margin: 0 13px 40px 0;
//           width: 220px;
//           height: 330px;
//           float: left;
//           //display: inline;  効果なしであることを記録するため記す
//           .item-others--seller_product_box--figure {
//             height: 220px;
//             width: 220px;
//             overflow: hidden;
//             position: relative;
//           }
//           .item-others-seller_product_box--name {
//             height: 110px;
//             padding: 16px;
//             background: white;
//           }
//         }
//       }
//     }
//     .item-others--product {
//       overflow: hidden;
//       .item-others--product__category-name {
//         margin: 24px 0 8px;
//         font-size: 22px;
//         font-weight: bold;
//         line-height: 1.4;
//         color: blue;
//         &:hover {
//           cursor: pointer;
//           text-decoration: underline;
//         }
//       }
//       .item-others--product__content-product-box {
//         margin: 0 13px 20px 0;
//         width: 220px;
//         float: left;
//         .item-others--product-box--figure {
//           height: 220px;
//           overflow: hidden;
//           position: relative;
//         }
//         .item-others-product-box--name {
//           height: 110px;
//           padding: 16px;
//         }
//       }
//     }
//   }
// }
// body {
//   font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
// }
// .content--photo_sold{
//   width: 0;
//   height: 0;
//   border-top: 60px solid #ea352d ;
//   border-right: 60px solid transparent;
//   border-bottom: 60px solid transparent;
//   border-left: 60px solid #ea352d ;
//   z-index:1;
//   position: absolute;;
//   top:213px;
//   &__inner{
//     transform: rotate(-45deg);
//     font-size: 28px;
//     margin:-35px 0px 0px -55px;
//     color: #fff;
//     letter-spacing: 2px;
//     font-weight: 600;
//   }
// }//.content--photo_sold

// .item-box__image{
//   width: 220px !important;
//   height: 220px !important;
//   align-items: center;
//   display: flex;
//   &--inner{
//     margin: 0 auto;
//     object-fit: contain;
//   }
// }