.header-post
  .posts-header-logo
    = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg', :size =>'200x300' 
.middle-box-buy
  .middle-contents-pay  
    .middle-contents-header
      #{@item.name}を購入しました
      