.default_container
  .header
    .header_container
      .upper_container
        .logo
          = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg'
        .form
          %form(action="https://www.mercari.com/jp/search/" class="pc-header-form")
            %input(class="input-default" name="keyword" placeholder="何かお探しですか？" type="“search”" value="")/
            %i(class="“icon-search”")
      .lower_container
        .lower_container_left
          .category
            %a(href="") カテゴリーから探す 
            %ul.category_list
          .brand
            %a(href="") ブランドから探す
            %ul.brand_list
        .lower_container_right
          %li.navi いいね！一覧
          %li.navi お知らせ
          %li.navi やることリスト
          %li.navi マイページ
  .body
    .slider
      .slider_box
        = image_tag '//www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?3296506464',:class => "slider-img"


    .contents_header

    .contents

    .aside

  .footer