.header-post
  .posts-header-logo
    = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg', :size =>'200x300'
.middle-box-login
  .middle-contents-login
    .middle-contents-header-login
      .box0
        アカウントをお持ちでない方はこちら
      .box1
        新規会員登録
    .middle-contents-bottom-login

      =link_to "https://www.facebook.com/", class: "middle-contents-bottom-login__btn middle-contents-bottom-login__btn--facebook" do
        &ensp;
        = fa_icon 'facebook lg'
        &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;  Facebookで登録する
      =link_to "https://www.facebook.com/", class: "middle-contents-bottom-login__btn middle-contents-bottom-login__btn--google" do
        &ensp;
        = fa_icon 'google lg'
        &ensp; &ensp; &ensp; &ensp; &ensp; Googleで登録する

.board
.footer
  .footer-contents
    .footer-contents__text
      =link_to "https://www.facebook.com/" do
        プライバシーポリシー&ensp;
      =link_to "https://www.facebook.com/" do
        メルカリ利用規約&ensp;
      =link_to "https://www.facebook.com/" do
        特定商取引に関する表記
    .footer-logo
      = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/common/jp/logo_vertical.png?2561606804', :size =>'200x100'
    .footer-date
      © 2019 Mercari