.header
  .header-logo
    =link_to "https://www.facebook.com/" do
      MERCARI
.middle-box
  .middle-contents   
    .middle-contents__header
      新規会員登録
    .middle-contents__bottom
      .middle-contents__bottom--btn 
        =link_to "https://www.facebook.com/" do 
          ttttt
      .middle-contents__bottom--btn 
        ttttt  
      .middle-contents__bottom--btn
        ttttt 
.board
.footer
  .footer-contents
    .footer-contents__text
      =link_to "https://www.facebook.com/" do 
        %span<プライバシーポリシー&ensp;  
      =link_to "https://www.facebook.com/" do   
        %span<メルカリ利用規約&ensp; 
      =link_to "https://www.facebook.com/" do  
        %span 特定商取引に関する表記
    .footer-logo
      mercari
    .footer-date  
      © 2019 Mercari    
                