.back {
  width: 100vw;
  height: 1000px;
  background: #F5F5F5;
 
  .head_space {
    width: 100vw;
    height: 40px;
    background: #F5F5F5;
  }
  .details_box {
    height: 800px;
    width: 700px;
    background: white;
    margin: auto;
    .name {
      width: 700px;
      height: 40px;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      padding-top: 20px;  
    }
    .image {
      width: 300px;
      height: 400px;
      background: #F5F5F5;
      margin: 20px 0 0 40px;
      display: inline-block;
    }
    .data {
      width: 300px;
      height: 400px;
      background: #F5F5F5;
      margin: 20px 0 0 20px;
      display: inline-block;
      }
    .price {
      width: 700px;
      height: 30px;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      position: relative;
      .unit {
        position: absolute;
        font-size: 12px;
        right: 210px;
        top: 18px;
        }
      }
    // .buy_space {
    //   width: 700px;
    //   height: 70px;
    //   margin-top: 25px;
    //   .buy_box {
    //     font-weight: 500;
    //     font-size: 20px;
    //     height: 50px;
    //     width :380px;
    //     background: #DD0000;
    //     color: white;
    //     line-height: 47px;
    //     text-align: center;
    //     margin: auto;
    //     a {
    //       text-decoration: none;
    //       color: white;
    //       width: 380px;
    //       height: 50px;
    //     }
    //      }
    //   .des_box {
    //     font-weight: 500;
    //     font-size: 20px;
    //     height: 50px;
    //     width :380px;
    //     background: #888888;
    //     color: white;
    //     line-height: 47px;
    //     text-align: center;
    //     margin: auto;
    //     a {
    //       text-decoration: none;
    //       color: white;
          
    //     }
    //   }   
    //   }
    // .description {
    //   font-size: 20px;
    //   padding: 20px 20px 20px 20px;
    //   width: 660px;
    //   height: 200px;
      
    // }    
   }
}
.item_container{
  
  .buy_space {
    background-color: #fff;
    width: 668px;
    margin: 25px auto;
    padding: 24px 16px;
    .buy_box {
      font-weight: 500;
      font-size: 20px;
      // height: 50px;
      // width :380px;
      background: #DD0000;
      color: white;
      line-height: 47px;
      text-align: center;
      margin: auto;
      a {
        text-decoration: none;
        color: white;
      }
      }
    .des_box {
      font-weight: 500;
      font-size: 20px;
      // height: 50px;
      // width :380px;
      background: #888888;
      color: white;
      line-height: 47px;
      text-align: center;
      margin: auto;
      margin-top: 30px;
      a {
        text-decoration: none;
        color: white;
        
      }
    }   
    }
}

.description {
  font-size: 20px;
  padding-top: 32px;
  width: 620px;
} 