// Place all the styles related to the mypages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mypage {
  padding: 40px 85.5px 0 85.5px;
  width: 1020px;
  height: 1252px;
  padding-bottom: 40px;
  width: 1020px;
  display: flex; 
}