// Place all the styles related to the mypages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mypages {
  padding: 40px 85.5px 0 85.5px;
  width: 1020px;
  height: 100%;
  padding-bottom: 40px;
  width: 1020px;
  display: flex; 
  margin: 40px auto 0;
}