.head {
  @include gray-box;
  height: 128px;
  position: relative;
  .test-header-logo {
    margin-left: 320px;
    float: left;
    height: 128px;
    line-height: 120px;
    font-size: 40px;
    width: 260px;
    position: absolute;
    bottom: 80px;
    }
  .progress-bar-step2 {
    @include bar;
    margin-right: 240px;
    .progress-text-gray-step2 {
     @include gray-text;
    }  
    .progress-text-red-step2 {
     @include red-text;
    }
    
    .line-red-step2 {
    @include red-line;
      &__circle {
      @include red-line-circle;
      }
    }
    .other-line-red-step2 {
     @include other-red-line;
      &__circle {
       @include other-red-line-circle;
       }
      }
    .other-line-gray-step2 {
      @include other-gray-line;
      &__circle {
       @include other-gray-line-circle;
       }
    } 
    .last-line-step2 {
      @include line-last;
      &__circle {
       @include line-last-circle;
      }
    }
    .only-circle-step2 {
     @include circle-only;
      .right-circle-step2 {
     @include circle-only-right;
      }  
    }
  }
}
.middle-box-telephone {
  @include gray-box;
  height: 400px;
  .middle-contents-telephone {
    @include white-box;
    height: 400px;
    .middle-contents-header {
     @include title-box;
    }
    .middle-contents-bottom {
      height: 230px;
      width: 500px;
      background: white;
      margin: 40px auto;
      font-weight: bold;
      &__form-step3 {
        @include form;
        padding-left: 20px;
        width: 350px;
      }
      &__text-telephone {
        margin-bottom: 30px;
        margin-left: 80px;
        width: 330px;
        height: 30px;
        font-weight: normal;
        font-size: 13px;
      }  
      &__sms {
       @include red-box;
        margin:0 50px 10px 80px;
      }
        
      }
    .telephone-number {
      color: #00BFFF;
      padding: 10px 20px 0 330px;
      font-size: 15px;
      font-weight: bold;
      
    }  
    }
}