.mypage__content {
  float: left;
  width: 700px;
  &__tab {
    background-color: #fff;
    list-style: none;
    &__head {
      padding: 0 16px;
      font-size: 16px;
      font-weight: 600;
      line-height: 72px;
    }
    &__lists {
      background-color: #eee;
      &__selling {
        background-image: #fff;
        width: 33.3%;
        display: inline-block;
      }
    }
  }
}