.item-box {
  padding: 24px 40px 40px;
  width: 620px;
  background: #fff;
  margin: 40px auto 0;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  &--name{
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
  }
  &--content {
    margin: 16px 0 0;
  }
  &--price {
    margin: 24px 0 0;
    text-align: center;
    &__bold {
      margin: 0 16px 0 0;
      font-size: 50px;
      color: black;
      background-color: #fff;
    }
    &__tax {
    font-size: 10px;
    color: black;
    background-color: #fff;
    }
    &__fee {
      display: inline-block;
      font-size: 16px;
      color: black;
      background-color: #fff;
    }
  }
  &--btn {
    color: #fff;
    display: block;
    width: 100%;
    margin: 24px 0 0;
    background: #ea352d;
    line-height: 60px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    a{
    text-decoration: none;
    }
    a:link{
      color: #fff;
    }
    a:visited{
      color: #fff;
    }
    &__gray{
      background-color: gray;
      color: #fff;
      display: block;
      width: 100%;
      margin: 24px 0 0;
      line-height: 60px;
      text-align: center;
      font-weight: 600;
      font-size: 24px;
    }
  &--link{
    position: relative;
  }
}
}
.item-box--link{
  position: relative;
  height: 30px;
  margin-top: 20px;
  &__left{
    float: left;
    width: 100px;
    }
  &__right{
    float: right;
    text-align: right;
    width: 300px;
    a{
      text-decoration: none;
      }
      a:link{
        color:black;
      }
      a:visited{
        color: black;
      }
  }
}

.photos {
  float: left;
  width: 300px;
  min-height: 380px;
  overflow: hidden;
  background-color:rgb(245, 245, 245);
  &--main {
    height: 300px;
    width: 3000px;
    border-collapse: collapse;
    position: relative;

    &__piece {
      width:300px;
      height: 300px;
      float: left;
    }
  }
  &--thumb {
    width:300px;
    height: 120px;
    float: left;
    &__piece {
      float: left;
      border-collapse: collapse;
      cursor: pointer;
    }
  }
}

.item-detail-table {
  float: right;
  max-width: 300px;
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  tr{
    width: 100%;
    th.left {
      width: 140px;
      text-align: left;
      font-weight: 400;
      background-color: #fafafa;
      border-collapse: collapse;
      border: 1px solid #f5f5f5;
      padding: 16px 8px;
      line-height: 1.5;

    }
    td.right {
      height: 100%;
      width: 160px;
      background: #fff;
      float: left;
      border-collapse: collapse;
      border: 1px solid #f5f5f5;
      padding: 16px 8px;
      line-height: 1.5;
      .link-right {
        margin: 8px 0 0;
        line-height: 1.5;
        text-align: left;
        color: #0099e8;
        text-decoration: none;
      }
    }
  }
}