$full: 100%;
$max-w: 1020px;

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header{
  background-color: #ffffff;
  position: relative;
  width: 100%;
  height: 100px;
  margin: auto;
}
.header-container{
  width: 1020px;
  height: 100px;
  margin:0 auto;
}

.upper-container{
  width: $max-w;
  position: relative;
  margin-top: 5px;
  .logo{
    width: 134px;
    height: 36px;
    float: left;
  }
  .seachForm{
    background-color: #F5F5F5;
    &__button{
      width: 40px;
      height: 40px;
      background-color: black;
    }
  }
}
.pc-header-form{
   float: right;
  .input-default{
    background-color: rgb(245, 245, 245);
    height: 40px;
    width: 841px;
   }
}

.lower-container{
  width: 1020px;
  height: 44px;
  font-size: 14px;
  margin-top: 8px;
  &__left{
    float:left;
    width: 308.45px;
    height: 44px;
    vertical-align: middle;
    padding-top: 10px;
    .category{
      float: left;
      height: 44px;
      a{
        text-align: center;
        color: black;
        text-decoration: none;
      }
    }
    .brand{
      float: right;
      height: 44px;
      a{
        text-align: center;
        color: black;
        text-decoration: none;
      }
    }
  }
  &__right{
    float:right;
    width: 520.31px;
    display: flex;
    .navis{
      float: left;
      height: 44px;
      .navi{
        float: left;
        margin-top: 10px;
        text-align: center;
        padding:0 14px 0 14px;
        a{
          text-decoration: none;
          color:black;
          vertical-align:text-top;
          height: 32px;
          img{
            margin-right: 10px;
            border-radius: 50%;
            vertical-align: middle;
          }
        }
      }
      .mypage{
        float: left;
        text-align: center;
        margin-top:4px;
        padding:0 14px 0 14px;
        a{
          text-decoration: none;
          color:black;
          vertical-align:text-top;
          height: 32px;
          img{
            margin-right: 10px;
            border-radius: 50%;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.body{
  background-color: #FFFFFF;
  position: relative;
  width: $max-w;
  min-height: 600px;
  margin: auto;
}
.slider{
  max-width: 2880px;
  max-height: 390px;
}
.slider_box{
  background-color:#EEEDEB;
  margin: 0 calc(50% - 50vw);
  padding: 0 calc(50vw - 50%);
  display: flex; 
}
.slider-img{
   width: 80%;
   height:390px;
   margin: 0 auto;
   display: block;
}
.contents_header{
  background-color: #FFFFFF;
  max-width: 1440px;
  min-height: 171px;
  position: relative;
}
.contents_header h2{
  height:39px;
  text-align: center;
  font-size: 25px;
}
.contents_header_tags{
  max-width: 1440px;
  height: 30px;
  margin-left: 270px;
}
.contents_header_buttons{
  height: 40px;
}
.button{
  display: inline-block;
}

.contents{
  background-color: #F5F5F5;
  height: 2230px;
  width: 1020px;
  &__body{
    &__subtitle{
        font-size: 20px;
    }
    &__wrapper{
      height: 525px;
      width: 1020px;
      &__list{
      }
    }
  }
}

.content{
  height: 252px;
  width: 188px;
  background-color: white;
  float: left;
  margin: 5px 5px 5px 5px;
  &__image{
    height: 188px;
    width: 188px;
    background-color: #99FFFF;
    position: relative;
    .content-img{
      max-width: 100%;
      height: auto;
      position: absolute;
    }
   }
  &__description{
    font-size: 12px;
    height: 46px;
    padding: 0 8px;
  }
}
span{
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  bottom: 4px;
  padding: 0 8px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


.footer{
  background-color:#222222;
  position: relative;
  bottom: 0;
  color: white;
  width: 1440px;
  height: 389px;
  .navs{
    width: 1020px;
    margin: 0 auto;
    .nav{
      float: left;
      width: 25%;
      &__head{
        font-size: 15px;
        font-weight: bold;
      }
      .left{
        float: left;
      }
      .right{
        float: right;
      }
    }
    li {
      a {
        color:#A0A0A0;
        text-decoration: none;
        font-size: 12px;
        line-height: 32px;
      }
    }
  }
  &--last{
    height: 33px;
    width: 1020px;
    text-align: center;
    .logo{

    }
    .copy_right{
      text-align: center;
    }
  }
}