$full: 100%;
$max-w: 1020px;


.default_container{
  width: $full;
  height: $full;
}
.header{
  background-color: #ffffff;
  width: $max-w;
  height: 100px;
  margin: auto;
}
.upper_container{
  width: 1020px;
  margin-top: 5px;
  float: left;
}
.logo{
  width: 134px;
  height: 36px; 
  float: left;
}
.pc-header-form{
   float: right;
  .input-default{
    background-color: rgb(245, 245, 245);
    height: 40px;
    width: 841px;
   }
}
.lower_container{
  width: 1020px;
}
.lower_container_left{
  width:308.45px;
  height: 44px;
  float: left;
}
.category{
  width:159.45;
  float: left;
}
.brand{
  width: 149px;
  float: right;
}
.lower_container_right{
  width:520.31px;
  height: 44px;
  float: right;
}
li.navi{
  float: left;
}


.body{
  background-color: black;
  width: $max-w;
  height: 600px;
  margin: auto;
}
.slider{

}
.slider_box{
  background-color: gray;
  margin: 0 calc(50% - 50vw);
  padding: 0 calc(50vw - 50%);
  display: flex; 
}
.slider-img{
   width: 80%;
   height:290px;
   margin: 0 auto;
   display: block;
}

.footer{
  background-color: green;
  width: $max-w;
  height: 300px;
  margin: auto;
}