// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
  height: 128px;
  width: 100vw;
  background:#EEEEEE;
  
  .test-header-logo {
    text-align: center;
    line-height: 120px;
    font-size: 40px;
    
    
    }
  
}

.middle-box {
  height: 380px;
  width: 100vw;
  background: #EEEEEE;

  .middle-contents {
    height: 380px;
    width: calc(100vw - 700px);
    background: white;
    margin: 0 100px 0 340px; 
    .middle-contents-header {
      height: 97px;
      width: calc(100vw - 700px);
      background: white;
      text-align: center;
      line-height: 90px;
      font-size: 20px;
      font-weight: bold;
      border-bottom: solid 3px #EEEEEE;
    }
    .middle-contents-bottom {
      height: 182px;
      width: 500px;
      background: white;
      margin: 40px auto;
      &__btn {
        display: block;
        background: #DD0000;
        height: 50px;
        width :300px;
        margin:0 50px 20px 100px;
        border-radius: 5px;
        font-size:13px;
        color: white;
        text-decoration: none;
        
        line-height: 47px;
        &--facebook {
          background: #000088; 
        }  
        &--google {
          background: white;
          color: black;
          border: solid 1px black;
        }
      }  
    }
  }
}

.board {
  height: 110px;
  width: 100vw;
  background: #EEEEEE;
} 

.footer {
  height: 192px;
  width: 100vw;
  background: #EEEEEE;
  .footer-contents {
    margin: 0 240px 0 500px;
    height: 192px;
    width: 400px;
    background: #EEEEEE; 
    &__text {
      font-size: 13px;
    }
  .footer-logo {
    text-align: center;
    line-height: 120px;
    font-size: 50px;
  }
  .footer-date {
    text-align: center;
    line-height: 5px;
    font-size: 10px;
  }
     
  }  
}