// Place all the styles related to the tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixin/box";
@import "mixin/bar";
.header {
  @include gray-box;
  height: 128px;
  position: relative;
  .test-header-logo {
    margin-left: 320px;
    float: left;
    height: 128px;
    line-height: 120px;
    font-size: 40px;
    width: 260px;
    position: absolute;
    bottom: 80px;
    }
  .progress-bar {
    @include bar;
    .progress-text-gray {
     @include gray-text;
    }  
    .progress-text-red {
     @include red-text;
    }
    
    .line-red {
    @include red-line;
      &__circle {
      @include red-line-circle;
      }
    }
    .other-line-red {
     @include other-red-line;
      &__circle {
       @include other-red-line-circle;
       }
      }
    .other-line-gray {
      @include other-gray-line;
      &__circle {
       @include other-gray-line-circle;
       }
    } 
    .last-line {
      @include line-last;
      &__circle {
       @include line-last-circle;
      }
    }
    .only-circle {
     @include circle-only;
      .right-circle {
     @include circle-only-right;
      }  
    }
  }
}


.middle-box {
  @include gray-box;
  height: 500px;
  .middle-contents {
    @include white-box;
    height: 500px;
    .middle-contents-header {
     @include title-box;
    }
    .middle-contents-bottom {
      height: 230px;
      width: 500px;
      background: white;
      margin: 40px auto;
      font-weight: bold;
      &__form {
        @include form;
      }
      &__text {
        margin-bottom: 30px;
        margin-left: 80px;
        width: 330px;
        height: 50px;
        font-weight: normal;
        font-size: 13px;
      }  
      &__sms {
       @include red-box;
        margin:0 50px 10px 80px;
      }
        
      }
    .telephone-number {
      color: #00BFFF;
      padding: 10px 20px 0 330px;
      font-size: 15px;
      font-weight: bold;
      
    }  
    }
}





