// Place all the styles related to the tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
  height: 128px;
  width: 100vw;
  background:#EEEEEE;
  
  .test-header-logo {
    margin-left: 320px;
    float: left;
    height: 128px;
    line-height: 120px;
    font-size: 40px;
    width: 260px;
    
    }
  .progress-bar {
    float: left;
    height: 72px;
    width: 600px;
    color: #999999;
    font-size: 12px;
    .progress-text-gray {
      display: inline-block;
      padding-top: 35px;
      color: #999999;
      font-size: 12px;
    }  
    .progress-text-red {
      display: inline-block;
      padding-top: 35px;
      color: red;
      font-size: 12px;
    }
    
    .line-red {
     height: 6px;
     width: 110px;
     margin-top: 10px;
     margin-left: 20px;
     border-bottom: solid 3px red;
     float: left;
      &__circle {
      width: 0rem;
      height: 0rem;
      border: solid 7px red;
      border-radius: 50%;
      }
    }
    .other-line-red {
      height: 6px;
      width: 132px;
      margin-top: 10px;
      border-bottom: solid 3px #CCCCCC;
      float: left;
      &__circle {
        width: 0rem;
        height: 0rem;
        border: solid 7px red;
        border-radius: 50%;
       }
      }
    .other-line-gray {
      height: 6px;
      width: 125px;
      margin-top: 10px;
      border-bottom: solid 3px #CCCCCC;
      float: left;
      &__circle {
        width: 0rem;
        height: 0rem;
        border: solid 7px #CCCCCC;
        border-radius: 50%;
       }
    } 
    .last-line {
      height: 6px;
      width: 90px;
      margin-top: 10px;
      border-bottom: solid 3px #CCCCCC;
      float: left;
      &__circle {
        width: 0rem;
        height: 0rem;
        border: solid 7px #CCCCCC;
        border-radius: 50%;
        
     
       }
    }
    .only-circle {
      height: 6px;
      width: 1px;
      margin-top: 10px;
      border-bottom: solid 3px #CCCCCC;
      float: left;
      .right-circle {
      width: rem;
      height: rem;
      border: solid 7px #CCCCCC;
      border-radius: 50%;
      float: left;      
      }  
    }
  }
}


.middle-box {
  height: 500px;
  width: 100vw;
  background: #EEEEEE;

  .middle-contents {
    height: 500px;
    width: calc(100vw - 700px);
    background: white;
    margin: 0 100px 0 340px; 
    .middle-contents-header {
      height: 97px;
      width: calc(100vw - 700px);
      background: white;
      text-align: center;
      line-height: 90px;
      font-size: 20px;
      font-weight: bold;
      border-bottom: solid 3px #EEEEEE;
    }
    .middle-contents-bottom {
      height: 230px;
      width: 500px;
      background: white;
      margin: 40px auto;
      font-weight: bold;
      &__form {
        font-weight: 50;
        display: block;
        height: 50px;
        width :330px;
        margin:0 50px 10px 80px;
        border-radius: 5px;
        font-size:18px;
        color: #888888;
        text-decoration: none;
        border: solid 1px #CCCCCC;
        line-height: 47px;
      }
      &__text {
        margin-bottom: 30px;
        margin-left: 80px;
        width: 330px;
        height: 50px;
        font-weight: normal;
        font-size: 13px;
      }  
      &__sms {
        font-weight: 50;
        display: block;
        height: 50px;
        width :330px;
        margin:0 50px 10px 80px;
        background: #DD0000;
        font-size:15px;
        color: white;
        text-decoration: none;
        border: solid 1px #CCCCCC;
        line-height: 47px;
        text-align: center;
      }
        &--facebook {
          background: #000088; 
        }  
        &--google {
          background: white;
          color: black;
          border: solid 1px black;
        }
      }
    .telephone-number {
      color: #00BFFF;
      padding: 10px 20px 0 330px;
      font-size: 15px;
      font-weight: bold;
      
    }  
    }
}




.footer {
  height: 192px;
  width: 100vw;
  background: #EEEEEE;
  .footer-contents {
    margin: 0 240px 0 500px;
    height: 192px;
    width: 400px;
    background: #EEEEEE; 
    &__text {
     line-height: 50px;
      font-size: 13px;
    }
  .footer-logo {
    text-align: center;
    line-height: 90px;
    font-size: 50px;
  }
  .footer-date {
    text-align: center;
    line-height: 1px;
    font-size: 10px;
  }
     
  }  
}
