.header
  .header_container
    .upper_container
      .logo
      .form
    .lower_container
      .lower_container_left
        .category
        .brand
      .lower_container_right
        .good
        .info
        .todo
        .mypage

.body
  .slider


  .contents_header

  .contents

  .aside

.footer